<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tantancarddemo">

    <application>
        <activity android:name=".usemytouch.CardDemo3Activity"></activity>
        <activity android:name=".CardListDemoActivity" />
        <activity android:name=".useviewgroup.CardDemo2Activity" />
        <activity android:name=".usertouchhelper.CardDemoActivity" />
    </application>

</manifest>